*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #bcbcbc;
}
.wrap{
    background: #bcbcbc url("imgs/back-halaq2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: multiply ;
}
/*two btn in index*/
.log-sign{
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: row-reverse;
}
.log-sign a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;

    border-radius: 50px;
    margin-left: 10px;
}
.log-sign a.log{
    background-color: #bc8500;
    color: #2e2e2e ;
}
.log-sign a.sign{
    border: 2px solid #bc8500;
    color: #bcbcbc;
}

.log-sign a.log:hover{
    color: #bcbcbc;
}

.log-sign a.sign:hover{
    color: #bc8500;
}
/*end 2 btn*/
/*paragraph in index*/
.describe{
    position: absolute;
    margin-top: 150px;
    right: 0;
    margin-right: 10px;
}

.describe h1{
    font-size: 48px;
    color: #bc8500;
    font-family: 'Lalezar', cursive;
    line-height:40px;
}
.describe p{
    font-size: 24px;
    text-align: center;
    margin-left: 50px;
    color: #bc8500;
    font-family: 'Lalezar', cursive;
}
/*end para*/
/*cards in index*/
.cards{
    margin-top: 350px;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
}
.flip-card {
    width: 250px;
    height: 250px;
    perspective: 300px;
    position: relative;
    float: left;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front img{
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-back {
    background-color: #bc8500;
    color: #bcbcbc;
    transform: rotateY(180deg);
}

.flip-card-back h1{
    color: #2e2e2e;
    font-size: 48px;
}

.flip-card-back p{
    color: #2e2e2e;
    font-size: 24px;
}
/*end cards*/
/*footer in insex*/
.footer{
    background: #bcbcbc;
    color: #2e2e2e;
    height: 350px
}

.footer .footer-content{
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    border: 1px solid #2e2e2e;
}

.footer .footer-content .footer-section h2{
    color: #2e2e2e;
    text-align: right;
}

.footer .footer-content .footer-section p{
    color: #2e2e2e;
    text-align: right;
    font-size: 18px;
}

.links p:hover{
    margin-right: 15px;
    transition: all .3s;
}
.social a{
    color: #2e2e2e;
    border: 1px solid #2e2e2e;
    width: 30px;
    height: 30px;
    padding-top: 3.3px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}
.social a:hover{
    border: 1px solid #bc8500;
    color: #bc8500;
    transition: all .3s;
}
.footer-bottom{
    background: #8b8b8b;
    color: #2e2e2e;
    height: 30px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 5px;
}
.contact-form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #2e2e2e;
    background-color: #bcbcbc;
    text-align: right;
}
.contact-form textarea{
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #2e2e2e;
    background-color: #bcbcbc;
    text-align: right;
}
.contact-form button[type=submit]{
    background-color: #bc8500;
    border: none;
    color: #2e2e2e;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    alignment: right;
}
.footer-bottom span{
    font-family: 'Turret Road', cursive;
}
/*end footer*/

/*desiegn scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2e2e2e;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bc8500;
    border-radius: 10px;
}
/*end desigen scrollbar*/

/* this desigen for login*/

.login-content{
    margin-top: 200px;
    margin-right: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

svg{
    margin-bottom: 50px;
    width: 200px;
}

form{
    width: 360px;
}


.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #bcbcbc;
}

.login-content .input-div.one{
    margin-top: 0;
}

.i{
    color: #bcbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    margin-left: 65%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    font-family: 'Lalezar', cursive;
    transition: .3s;
}


.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #bc8500;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i{
    color: #bc8500;
}

.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 4px;
}

.login-content a{
    font-family: 'Lalezar', cursive;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #8b8b8b;
    font-size: 0.9rem;
    transition: .3s;
}

.login-content a:hover{
    color: #bc8500;
}

.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #bc8500, #c79c32, #bc8500);
    background-size: 200%;
    font-size: 1.2rem;
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}

.welcome{
    position: absolute !important;
    right: 50% !important;
    top: 60% !important;
    margin-left: 0 !important;
    margin-top:0 !important;
}
.welcome h1{
    margin-right: 90px !important;
    line-height: 70px !important;
}
/*
.describe{
    position: absolute;
    margin-top: 150px;
    margin-left: 1050px;
}

.describe h1{
    font-size: 48px;
    color: #bc8500;
    font-family: 'Lalezar', cursive;
    line-height:40px;
}
.describe p{
    font-size: 24px;
    text-align: center;
    margin-left: 50px;
    color: #bc8500;
    font-family: 'Lalezar', cursive;
}
*/
/*end desgen for login*/