*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lalezar', cursive;
}
body{
    background: #2e2e2e;
}
.wrap{
    position: fixed;
    background: #bcbcbc url("../imgs/bb.jpg") no-repeat;
    background-position: left bottom ;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background-blend-mode: multiply ;
    align-self: center;
}
.header{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #bcbcbc url("../imgs/pexels-engin-akyurt-3356174.jpg") no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    position: relative;
}
.header h1{
    font-size: 84px;
    font-family: 'Lalezar', cursive;
    color: #2e2e2e;
}

.header svg{
    margin-top: 50px;
    margin-right: -80px;
    transform: rotate(-20deg);
    width: 300px;
    height: 100px;
}


.search_box {
    position: absolute;
    top: 75%;
    left: 29%;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    background: #2e2e2e;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #3e3e3e;
}

.search_box .dropdown{
    width: 150px;
    border-left: 2px solid #bc8500;
    color: #bcbcbc;
    position: relative;
    cursor: pointer;
}

.search_box .dropdown .default_option{
    padding: 13px 15px;
    font-size: 14px;
}

.search_box .dropdown ul{
    list-style-type: none;
    position: absolute;
    top: 60px;
    right: -10px;
    background: #3e3e3e;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #2e2e2e;
    align-items: center;
}

.search_box .dropdown ul.active{
    display: block;
}

.search_box .dropdown ul li{
    padding-bottom: 20px;
}

.search_box .dropdown ul li:last-child{
    padding-bottom: 0;
}

.search_box .dropdown ul li:hover{
    color: #bc8500;
    border-bottom: 1px solid;
    border-color: #bc8500;
}
.search_box .dropdown:after{
    content: "";
    position: absolute;
    top: 15px;
    right: 110px;
    border: 8px solid;
    border-color: #bc8500 transparent transparent transparent;
}

.search_box .search_field{
    width: 350px;
    height: 100%;
    position: relative;
}

.search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #bcbcbc;
    background: none;
}

.search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #bc8500;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bcbcbc;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bcbcbc;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bcbcbc;
}
.choices{
    color: #2e2e2e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Lalezar', cursive;
    height: 100%;
}
.choices i{
    font-size: 120px;
    margin-top: 100px;
    padding-bottom: 20px;
}
.choices > div{
    margin-top:3%;
    width: 300px;
    height: 350px;
    background: #8b8b8b;
    border-radius: 30px;
    border: 5px solid #bc8500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choices .choice3{
    background: #3e3e3e ;
    border:5px solid #8b8b8b;
    color: #bc8500;
}
.choices .choice2{
    background: #3e3e3e ;
    border:5px solid #8b8b8b;
    color: #bc8500;
}

.choices i:hover {
    animation-name: largerf ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes largerf {
    20%,80%{
        font-size: 140px ;
    }
}
.choices i:hover ~ .active{
    animation-name: backg ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.choices i:hover ~ .active1{
    animation-name: backg1 ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes backg1 {
    20%,80%{
    rgba(46, 46, 46, 0.5) ;
    }
}

@keyframes backg {
    20%,80%{
        background: rgba(188, 133, 0, 0.5) ;
        color: #2e2e2e;
    }
}

.navbar{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
}

/*.navbar li {*/
/*    float: right;*/

/*}*/

.navbar li a {
    height: 50px;
    width: 50px;
    display: flex;
    color: #2e2e2e;
    background-color: #8b8b8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px;
    justify-content: center;
}

.navbar li a i {
    font-size: 35px;
    margin-top: -5px;
}

.navbar li a:hover {
    background-color: #bc8500;
    animation-name: rotation ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    20%,80%{
        transform: rotate(360deg);
    }
}

svg{
    width: 200px;
    margin-bottom: 20px;
}

#white-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}
.dlgbox{
    /*initially dialog box is hidden*/
    display: none;
    position: absolute;
    top: 5%;
    right: 30%;
    width: 45%;
    z-index: 9999;
    border-radius: 10px;
    background-color: #8b8b8b;
    text-align: center;
}

.dlg-header{
    padding: 10px;
    margin: 10px 10px 0 10px;
}
.dlg-body{
    background-color: #3e3e3e;
    color: #bcbcbc;
    padding: 10px;
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-family: 'Lalezar', cursive;
}
.dlg-footer{
    background-color: #bc8500;
    text-align: right;
    padding: 10px;
    margin: 0 10px 10px 10px;
}

.dlg-footer button{
    background-color: #8b8b8b;
    color: #2e2e2e;
    padding: 5px;
    border: 0;
}

.dlg-footer input{
    background-color: #8b8b8b;
    color: #2e2e2e;
    padding: 5px;
    border: 0;
}


/*.navbar1{*/
/*    position: fixed;*/
/*    bottom: 10px;*/
/*    right: 10px;*/
/*}*/
.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    display: flex;
    justify-content: center;
}

.navbar1 li {
    float: right;

}

.navbar1 li a {
    height: 100px;
    width: 100px;

    color: #bcbcbc;
    background-color: #2e2e2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px;

}

.navbar1 li a i {
    font-size: 35px;
    margin-top: -5px;
}

.navbar1 li a:hover {
    background-color: #bc8500;
    animation-name: rotation ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #bcbcbc;
    margin-right: 5px;
}

.input-div.one{
    margin-top: 0;
}

.i{
    color: #bcbcbc ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    margin-left: 65%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bcbcbc;
    font-size: 18px;
    font-family: 'Lalezar', cursive;
    transition: .3s;
}


.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #bc8500;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: 5px;
    font-size: 15px;
}

.input-div.focus > .i > i{
    color: #bc8500;
}


.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #bcbcbc;
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 4px;
}

.dlgbox .dlg-footer .delete_account{
    background-color: #b80f0a;
}

/*desiegn scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2e2e2e;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 10px;
}
/*end desigen scrollbar*/